.App {
  text-align: center;
}

.title {
  position: static;
  padding: 20px;
  font-size: 100px;
  text-align: center;
  color: blueviolet;
}

.image {
  max-height: 400px;
  max-width: 300px;
}

.image-guess {
  font-size: 80px;
}
.flexbox-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.text-question {
  color: rgb(235, 135, 20);
  position: static;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.image-text-upload{
  color: rgb(43, 153, 226);
  padding: 60px;
  font-size: 30px;
}
.image-text-exercise{
  color: rgb(116, 226, 43);
  padding: 60px;
  font-size: 30px;
}

.button-yes {
  font-size: 25px;
  background-color: green;
}

.button-no {
  font-size: 25px;
  background-color: red;
}


